body,
html {
  height: 100%;
}

@font-face {
  font-family: mainFont;
  src: url(/src/assets/DesMorgan-DOXa9.otf);
}

body {
  position: relative;
  margin: 0;

  font-family: mainFont;
}

.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(1, 1, 1, 1)),
    url(./assets/Restaurant.jpg);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  position: absolute;
  top: 0%;

  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
}

.general-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 30px;
}

.logo {
  width: 250px;
  content: url(/src/assets/logo.png);
}

.tab-container {
  margin-right: clamp(600px, 2rem, 450px);
  display: flex;
  align-items: center;
  gap: 20px;
}

.tab {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 1s;
  font-size: 1rem;
  letter-spacing: 2.5px;
}

.tab:focus {
  transform: scale(1.1);
}

#homepage,
#menu,
#about {
  justify-self: center;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

  padding: 30px;

  font-weight: 300;
  font-size: 100%;
}

#homepage img,
#menu img {
  height: 300px;
}

#homepage img {
  content: url(/src/assets/homepage.jpg);
}

#menu img {
  content: url(/src/assets/menu.jpg);
}

#about > h1 {
  margin-top: 20px;
}

#about > p {
  margin: 0;
}
