body,
html {
  height: 100%;
}

body {
  position: relative;

  margin: 0;
}

.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(1, 1, 1, 1)),
    url(Restaurant.jpg);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  position: absolute;
  top: 0%;

  width: 100%;
}

.general-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 30px;
}

.logo {
  width: 250px;
}

.tab-container {
  margin-right: clamp(400px, 1rem, 350px);
  display: flex;
  align-items: center;
  gap: 20px;
}

.tab {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 1s;
  font-size: 1rem;
  letter-spacing: 2.5px;
}

.tab:focus {
  transform: scale(1.1);
}
